.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #878b86;
  padding: 20px 40px;

  .logo{
    width: 70px;
    height: 70px;
    object-fit: contain;
  }

  .social-wrapper{
    display: flex;

    .icon-wrapper{
      background-color: rgb(223, 222, 222);
      padding: 10px;
      border-radius: 50%;
      margin: 0px 10px;
  
      .icon-medsos{
       margin-bottom: -3px;
        width: 30px;
        height: 30px;
        object-fit: contain;
      }
    }
  }

}

.copyright{
  background-color: #727471;
  padding: 10px 0px;

  P{
    font-size: 14px;
    color: white;
    text-align: center;
    margin: 0px;
  }
}